@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap'); 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --my-color-1: #99774dea;
    --my-color-2: #bd894aea;
    --my-color-3: #885518ea; 

    --my-color-4: aliceblue;

    --my-color-5: #99774d;
    --my-header-height: 120px;
}

body {
    font-family: "Lato", sans-serif;
}

header {
    height: var(--my-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.menu-area {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
}

.menu ul li {
    list-style: none;
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
}

.menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    padding: 15px;
}

.menu ul .active a,
.menu ul li a:hover {
    background-color: var(--my-color-5);
    color: #fff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/banner.png);
    background-position: top;
    background-size: cover;
    height: 700px;
    box-shadow: inset 0px 1px 4px #444;
}

.column {
    flex-direction: column;
}

.banner_headline,
.banner_options {
    width: inherit;
    color: #fff;
    text-shadow: 0 1px 0 #444;

}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    font-size: 4rem;
    max-width: 350px;
    margin-bottom: 25px;

}
.banner_headline h2 {
    font-size: 1.3rem;
    max-width: 350px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    padding: 15px 25px;
}

.banner1 {
    background-color: var(--my-color-1);
    border-radius: 10px 0 0 0;
}
.banner2 {
    background-color: var(--my-color-2);
}
.banner1 a:hover,
.banner2 a:hover {
    background-color: var(--my-color-3);
}
.banner3 {
    background-color: var(--my-color-3);
    border-radius: 0 10px 0 0;
}

.banner_options div .banner_title {
    font-size: 1.3rem;
    text-shadow: none;
    font-weight: normal;
}

.banner_options div .banner_text {
    line-height: 1.1rem;
    word-spacing: 0.2rem;
    font-size: 0.8rem;
    text-shadow: none;
    padding: 20px 0;
    font-weight: normal;
}

.banner_options div a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid #fff;
    padding: 10px;
}

.banner3 .opening_hours {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.banner3 .opening_hours .hours_info {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--my-color-4);
}

.geral {
    display: flex;
    justify-content: center;
}

.geral section {
    flex: 2;
}

.geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    font-size: 1.3rem;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: var(--my-color-1);
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

article a {
    text-decoration: none;
}

article .widget_news_data {
    display: flex;
    margin-bottom: 25px;
}

article .widget_news_data div {
    color: #fff;
    font-size: 0.7rem;
    padding: 10px;
}

.widget_posted_at {
    background-color: var(--my-color-3);
    margin-right: 2px;
}

.comments {
    background-color: var(--my-color-1);
}

.image_thumbnail img {
    width: 100%;
    height: auto;
}

.news_title {
    margin: 25px 0;
    font-size: 1.3rem;
    color: #000;
}

.news_text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5c5c5c;
    text-align: justify;
}

.widget_departments {
    display: flex;
    flex-direction: column;
}

.widget_departments div {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.square {
    width: 150px;
    height: 150px;
    background-color: var(--my-color-1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.square:hover {
    background-color: var(--my-color-3);
}

.widget_appointment {
    font-size: 1rem;
}

.widget_appointment_info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.widget_appointment_info div {
    border-top: 1px solid #444;
    padding: 15px 0;
}

.widget .widget_appointment_info div span a {
    color: #0077c7;
    text-decoration: none;
}

.widget_appointment_info div .info_icon {
    margin-right: 10px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    flex: 1;
    display: flex;
    color: #fff;
}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
    padding: 15px 25px;
}

.fm_1 h1,
.fm_2 h1,
.fm_3 h1 {
    font-size: 1.3rem;
}

.fm_1 h2,
.fm_2 h2,
.fm_3 h2 {
    font-size: 0.8rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.fm_1 h2 a,
.fm_2 h2 a,
.fm_3 h2 a {
    color: #fff;
    text-decoration: none;
}

.fm_1 h2 a:hover,
.fm_2 h2 a:hover,
.fm_3 h2 a:hover {
    text-decoration: underline;
} 

.fm_1 {
    background-color: var(--my-color-1);
    border-radius: 0 0 0 5px;
}

.fm_2 {
    background-color: var(--my-color-2);
}

.fm_3 {
    background-color: var(--my-color-3);
    border-radius: 0 0 5px 0;
}

.footer_area {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.footer_area_item {
    flex: 1;
    color: #fff;
}

.footer_copy {
    color: #5c5c5c;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}

.footer_area_item_1 {
    color: #5c5c5c;
}

.vetcenter_info {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.r_side {
    align-self: flex-end;
}

.r_side p span {
    color: #ccc;
    font-weight: bold;
}

.posts_area a,
.tweets_area a {
    text-decoration: none;
    color: #ccc;
}

.posts_area a:hover,
.tweets_area a:hover {
    text-decoration: underline;
}

.posts_area div,
.tweets_area div {
    margin-bottom: 25px;
}

.posts_area div span,
.tweets_area div span {
    color: var(--my-color-1);
}

.tweets_item {
    text-align: justify;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mm_line {
    height: 3px;
    background-color: #99774d;
}

@media (max-width: 1000px) {
    #banner {
        margin-right: -10px;
    }

    .container {
        margin: 0 50px;
    }
    
    .banner_headline {
        width: 100%;
    }
    
    .banner_headline h1 {
        font-size: 3rem;
    }

    .banner_options {
        height: auto;
        width: 100%;
    }

    .geral .container {
        display: flex;
        flex-direction: column;
    }

    .geral .container aside {
        display: flex;
    }

    .geral .container aside div {
        flex: 1;
    }

    .widget_departments div {
        justify-content: space-evenly;
    }

    footer {
        margin-right: -10px;
    }

    .footer_area {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    header {
        height: auto;
    }

    header .container {
        align-items: center;
        justify-content: space-between;
        
    }

    .menu-area nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: calc(100% + 10px);
        background-color: #fff;
    }

    .menu-area nav ul li a {
        padding: 0;
    }

    .menu ul .active,
    .menu ul li:hover {
        background-color: var(--my-color-5);
        color: #fff;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .geral .container aside {
        display: flex;
    }

    .geral .container aside div {
        flex: 1;
        gap: 3px;
    }

    .widget_title_text {
        text-wrap: nowrap;
    }

    .widget_departments div {
        margin-left: -25px;
    }

    .square {
        display: flex;
        align-items: center;
        justify-content: center;
        text-wrap: wrap;
        font-size: 0.7rem;
        width: 100px;
        height: 100px;
    }

    .footer_copy {
        font-size: 0.8rem;
    }
}

@media (max-width: 600px) {
    .banner_options {
        height: auto;
        width: 100%;
        flex-direction: column;
    }

    .banner_options div .banner_text {
        display: none;
    }

    .banner1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
    }

    .banner2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .banner3 {
        border-radius: 0 0 0 0;
    }

    .footer_area {
        flex-direction: column;
        font-size: 1rem;
    }


}

@media (max-width: 425px) {
    .geral .container aside {
        flex-direction: column;
    }

    footer {
        margin-right: -10px;
        
    }

    .footer_menu {
        flex-direction: column;
        min-width: 100%;
    }

    .fm_1 {
        border-radius: 0 0 0 0;
    }

    .fm_3 {
        border-radius: 0 0 5px 5px;
    }

    .footer_area {
        margin: 0 25px 0 0;
    }

    .footer_copy {
        margin: 0 25px 0 0;
    }

}

@media (max-width: 375px) {

    .container {
        margin: 0 25px;
    }

}

@media (max-width: 320px) {
    .menu-area nav ul {
        width: calc(100% + 25px);
    }
    
    #banner,
    footer {
        margin-right: -25px;
    }

    .container {
        margin: 0 20px;
    }

    .geral .container {
        margin-right: -25px;
    }

    .widget_departments div {
        justify-content: space-evenly;
        margin-left: -18px;
    }
    
    .footer_area {
        margin: 0 25px 0 0;
    }

    .footer_copy {
        margin: 0 25px 0 0;
    }
}